
<div class="row group-new-section-1">
	<div class="col-md-6">
		<div class="group-header">
			<img src="<%= image_url 'ghost-md.png' %>" width="150">
			<h1>Expiring Group Chat</h1>
			<p class="home-description">Create a group for your friends or co-workers in seconds. Solve a problem, share articles and links all in the browser. Once your group expires, it's gone!</p>
		</div>
	</div>

	<div class="col-md-6">
		<!-- Padding Inside Div -->
		<div class="group-new-right-top">
			<div class="create-group-form">

				<%= form_for @group do |f| %>

					<div class="cgf-header">Create a Group</div>

					<div class="cgf-input-container">
						<label>Title:</label>
						<%= f.text_field :title, :autocomplete => :off, placeholder: "Name your group!", class: "form-control" %>

					</div>

					<div class="cgf-input-container">
						<label>Expires In:</label>
					  <div id="year-slider" class="no-ui-slider">
					    <div class="slider"></div>
					    <ul class="slider-labels eleven-columns">
					      <li>5 min.</li>
					      <li>30 min.</li>
					      <li class="active">1 hr</li>
					      <li>6 hrs</li>
					      <li>12 hrs</li>
					      <li>24 hrs</li>
					    </ul>
					  </div>
					</div>



					<div class="cgf-input-container">
						<label>Group Password (optional)</label> <%= f.password_field :password, placeholder: "Make it private if you want", :autocomplete => :off, class: "form-control" %>
					</div>

					<%= f.fields_for :creator do |c| %>

						<div class="cgf-input-container">
							<label>Username</label><%= c.text_field :username, placeholder: "Create a Unique Handle", :autocomplete => :off, class: "form-control" %>
						</div>
            			
            			<div class="cgf-input-container">
            			  
            			  <label>Password (required)</label><%= c.password_field :password, placeholder: "password", :autocomplete => :off, class: "form-control" %>
            			</div>
             		<%= c.hidden_field :is_creator, value: true %>

					<% end %>

					<div class="cgf-input-container">
						<%= f.submit "Create Group", class: "btn group-btn" %>
					</div>

				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="row group-new-section-2">

	<div class="col-md-4">

	</div>

	<div class="col-md-4">

	</div>

	<div class="col-md-4">

	</div>

</div>
