<%= @group.title %>
<%= current_user(@group).username %><br>
<% if Time.strptime(@group.expiration.to_s, '%s') < Time.now %>
your shit's expired
	<%= form_for @group do |f| %>
		Extend by <%= f.number_field :expiration, value: "" %> minutes
		<%= f.submit %>
	<% end %>
<% end %>

<div id="messages" data-group-id="<%= @group.id %>" data-user-id="<%= current_user(@group).id %>">
  <%= render @group.messages %>
</div>


<%= form_for @message, url: '#', data: {"user-id": current_user(@group).id} do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
<% end %>
