<!DOCTYPE html>
<html>
  <head>
    <title>Ghostchat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
    <% end %>
    <div class="row group-new-section-1">
    	<div class="col-md-6">
    		<div class="group-header">
    			<img src="<%= image_url 'ghost-md.png' %>" width="150">
    			<h1>Expiring Group Chat</h1>
    			<p class="home-description">Create a group for your friends or co-workers in seconds. Solve a problem, share articles and links all in the browser. Once your group expires, it's gone!</p>
    		</div>
    	</div>

    	<div class="col-md-6">
    		<!-- Padding Inside Div -->
    		<div class="group-new-right-top">
          <%= yield %>
        </div>
      </div>
    </div>
</body>
</html>
